{% extends 'base.html' %}

{% block content %}
<h1>My Tickets</h1>
<table class="table">
    <thead>
        <tr>
            <th>TicketQR</th>
            <th>TicketID</th>
            <th>Event</th>
            <th style="width: 110px;">Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Speaker</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>
                {% if ticket.qr_code %}
                    <img src="{{ ticket.qr_code }}" alt="QR Code" />
                {% else %}
                    No QR code available.
                {% endif %}
            </td>
            <td>{{ ticket.electronic_ticket }}</td>
            <td>{{ ticket.program_event_name }}</td>
            <td>{{ ticket.programs_date }}</td>
            <td>{{ ticket.programs_start_time }}</td>
            <td>{{ ticket.programs_end_time }}</td>
            <td>{{ ticket.program_speaker_name }}</td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="5">You have no tickets.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<input type="button" class="btn btn-success" onclick="history.back();" value="Back">
{% endblock %}